* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: 'Inter', sans-serif;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.nav-bar .nav-logo {
  padding: 10px;
}

.nav-bar .nav-logo a {
  text-decoration: none;
  color: black;
}

.nav-bar .hamburger {
  padding: 10px 0;
}

.nav-bar .nav-logo p {
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.jumbo-tron {
  background-image: url('./img/header-illsutration-mobile.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 648px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.jumbo-tron header {
  width: 80%;
  margin: auto;
  flex: 1;
  text-align: center;
  margin-top: 55px;
}

.jumbo-tron header h1 {
  font-weight: 700;
  font-size: 35px;
  line-height: 55px;
}

.dark-head {
  color: #172b4d;
}

.green-head {
  color: #36b37e;
}

.jumbo-tron article {
  width: 70%;
  margin: auto auto auto;
  flex: 1;
}

.jumbo-tron article h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.jumbo-tron .socials {
  margin: 30px auto auto auto;
}

.pointer {
  margin: 30px auto auto auto;
}

.pointer .round-point {
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 60%;
  display: flex;
  justify-content: center;
}

.pointer img {
  margin: auto;
}

.jumbo-tron .socials img {
  margin: 0 5px;
}

.my-work {
  width: 100%;
  background-color: white;
  margin-top: 8rem;
}

.my-work .work-header {
  width: 70%;
  margin: auto;
  text-align: center;
}

.about-me header h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.about-categories header h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
}

.my-work .work-header h2 {
  color: #172b4d;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.my-work .divider {
  margin: 20px auto;
  background-color: #36b37e;
  height: 4px;
  width: 48px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(327px, 1fr));
}

.work-card {
  display: flex;
  flex-direction: column;
  height: 474px;
  width: 90%;
  margin: 30px auto;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: #ebf0ee;
}

.work-card .work-img {
  height: 55%;
}

.work-card .work-text {
  height: 45%;
  background-color: white;
  border-radius: 10px;
}

.about-me header {
  margin: auto;
  padding: 0 30px;
}

.about-categories header {
  margin: 20px auto;
  text-align: center;
}

.work-card .work-text header {
  width: 70%;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px auto;
}

.work-card .work-text header h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
}

.my-work .work-text .work-tools {
  width: 100%;
  margin: 10px 0;
}

.categories ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(327px, 1fr));
}

.categories ul li {
  margin: 20px 0;
}

.about-categories .tool-list ul {
  width: 90%;
  margin: auto;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.my-work .work-text .work-tools ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.about-categories .tool-list ul li {
  background-color: white;
  color: #36b37e;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 5px;
}

.my-work .work-text .work-tools ul li {
  background-color: #ebf0ee;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.my-work .work-text .project-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.about-me .resume-btn button {
  padding: 15px;
  background-color: #36b37e;
  color: white;
  border-radius: 5px;
}

.my-work .work-text .project-btn button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background-color: #36b37e;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.about-me .resume-btn button:active {
  background-color: #008552;
}

.my-work .work-text .project-btn button:active {
  background-color: #008552;
}

.about-me {
  display: flex;
  flex-direction: column;
  background-image: url('./img/top-right.svg'), url('./img/bottom-left.png');
  background-position: top right, bottom left;
  background-repeat: no-repeat;
  padding-top: 10px;
}

.about-me .about-body {
  width: 80%;
  margin: 10px auto auto auto;
  text-align: center;
  color: #42526e;
}

.about-me .about-body p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.about-me .resume-btn {
  margin: 10px auto;
}

.about-categories {
  width: 90%;
  height: 100%;
  border-radius: 10px;
  margin: 50px auto;
  background-color: #ebf0ee;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.about-categories figure {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 50px auto;
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
